<h1><%= locale.ERRORS.PAGE_NOT_FOUND %></h1>
<h3><%= locale.format(locale.ERRORS.PAGE_NOT_FOUND_DESC, path) %></h3>
<a href="javascript:history.back()"><button class="form-button"><%= locale.MAIN.BACK %></button></a>
<a href="/"><button class="form-button"><%= locale.MAIN.GOTO_HOME %></button></a>

