
<div class="home-cover">
    <div class="home-cover-bg">
        <div class="home-cover-wrapper">
            <div class="home-cover-column">
                <div class="home-cover-content">
                    <h1><%= locale.INDEX.TEXT1 %></h1>
                    <p><%= locale.INDEX.TEXT2 %></p>
                    <ul class="home-cover-buttons">
                        <li class="active"><a href="/challenges"><%= locale.MAIN.EXPLORE %></a></li>
                        <li><a href="/communities"><%= locale.MAIN.COMMUNITIES %></a></li>
                </div>
            </div>
            <div class="home-cover-column home-cover-image">
                <img class="lazy" data-src="/images/proccessing.png" alt="prc" />
            </div>
        </div>
    </div>
</div>